<h1 class="mt-4">Dashboard</h1>
<%- include ("./partials/messages.ejs") %>
<p class="lead mb-3">Welcome <%= name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/reservation" class="btn btn-secondary">Reservation</a>
<script type="module" src="/public/javascript/Header.js"></script>

