#userReservations {
    background: #ffffff;
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.reservation-card_container {
    width: 100%;
    padding: 20px;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    border-bottom: none;
}

.reservation-card {
    list-style: none;
}

.reservation-guest-amount {
    font-family: 'Overpass', sans-serif;
    margin-bottom: 10px;
}

.invisible {
    display: none !important;
}

#close_btn {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    outline: none;
    border: none;
    font-size: 2rem;
    padding: 5px 10px 0 0;
}

#delete_btn {
    background: transparent;
    border: 1px solid #dddddd;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Overpass', sans-serif;
}

.restaurant-name {
    font-family: 'Vesper Libre', sans-serif;
    font-size: 2rem;
}

.reservation-time {
    display: flex;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 20px;
}

#calendar,
#party-size {
    width: 20px;
}

.restaurant-image {
    background: url("../assets/restaurants-images/3.jpg") no-repeat center center/ cover;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
