.review-item-wrapper {
    margin: 0 auto;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px black;
    padding: 10px;
    border-radius: 10px;
}

.review-item-wrapper div,
.review-item-wrapper p {
    margin-bottom: 5px !important;
}

.review-item-wrapper p {
    text-align: right;
}

.review-rating span:first-child {
    font-weight: 500;
}

.review-rating span:last-child {
    font-weight: 700;
    font-size: 20px;
}

.review-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%
}

.review-photo img {
    width: 100%;
    height: 100%;
}

.review-content {
    width: 70%;
}

.review-time {
    font-size: 14px;
    color: grey;
}

.review-author {
    font-weight: 700;
}

.restaurant-page_reviews {
    height: 320px;
    overflow-y: hidden;
    position: relative;
}

.restaurant-page_reviews.reviews-open {
    height: fit-content;
}

.restaurant-reviews-button {
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 5px black;
    position: absolute;
    top: 50px;
    right: 20px;
    background: url(./../assets/images/down.png) no-repeat center center / contain, rgb(248, 231, 231) ;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}

.restaurant-reviews-button.hide-reviews {
    background: url(./../assets/images/up.png) no-repeat center center / contain, rgb(247, 230, 230);
    transition: all 1s;
}