.search-form {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}
.search-form_button {
  padding: 5px 10px;
  font-weight: 700;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: #411313;
  color: white;
  outline: none;
}
.search-form_input {
  width: 100%;
  height: 40px;
  padding: 10px 0px 10px 50px;
  border-radius: 10px 10px 0px 0px;
  border: none;
  outline: none;
}
.search-form_input_wrapper {
  position: relative;
  z-index: 3;
}
.search-form_input-state {
  background: url(../assets/images/location.png) no-repeat left 10px center / 15%, rgba(143, 114, 114, 0.5);
}
.search-form_input-cuisine {
  background: url(../assets/images/star.png) no-repeat left 10px center / 15%, rgba(143, 114, 114, 0.5);
}
.search-form_input_list {
  list-style-type: none;
  max-height: 300px;
  overflow: auto;
  position: absolute;
  width: 100%;
  left: 0;
  top: 40px;
  background: #fae6e6 !important;
  z-index: 3;
}
.search-form_input_list-item {
  padding: 5px;
  cursor: pointer;
}
.search-form_input_list-item:hover {
  background: #d4b9b9;
}
.hide-item {
  display: none;
}
.required-field {
  border: 1px solid #721e1e;
  color: #8b2424;
}
